$gray: #F5F6FA;
$white: #FFF;
$vlue: #1AB5F5;
$primary: #4C56C0;
$accent: #F7C6B1;
$success: #84CE95;
$warning: #F1682C;
$text: #363636;

$global-font: 'Lato';
$ui-default-measure: 8px;
$ui-default-measure2x: 16px;
$ui-default-measure3x: 24px;
$ui-default-border-radius--circle: 50%;
$ui-default-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .07);
$ui-default-box-shadow--small: 0 2px 15px 0 rgba(0, 0, 0, .07);
$ui-default-box-shadow--reversed: 0 -2px 4px 0 rgba(0, 0, 0, .05);

$min-app-width: 1800px;