// app-wide styles

.icon {
  &--left {
    margin-right: $ui-default-measure;
  }

  &--right {
    margin-left: $ui-default-measure;
  }

  &--outlined {
    position: relative;
    background-color: $primary;
    border-radius: $ui-default-border-radius--circle;
    width: 20px;
    height: 20px;
    color: $white;

    &:before {
      @include center();
    }
  }
}

.base-box {
  padding: $ui-default-measure2x 30px 30px 30px;
  border-radius: 20px;
  box-shadow: $ui-default-box-shadow--small;
  background: $white;

  &--small {
    padding: 25px;
  }

  .heading--section {
    margin: $ui-default-measure2x 0;
  }
}

.divider {
  border: none;
  height: 1px;
  width: 100%;
  background: $text;

  &--white {
    background: $white;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// calendar

.c-pane-container {
  background-color: transparent !important;
  border: none !important;
  width: 100%;

  * {
    @include font-weight(400);
  }
}

.c-header {
  width: 100%;
  display: flex;
  justify-content: center;

  .c-title-layout {
    max-width: 100px;
  }
}

.c-arrow-layout {
  svg {
    font-size: 1.2rem !important;
    height: 1.2rem !important;
    width: 1.2rem !important;
  }
}

.c-weekday {
  color: $primary;
  @include font(15, 600);
}

.c-day {
  padding: 4px 0;
}

/* x axis */
.frappe-chart .x.axis .line-vertical,
.frappe-chart .y.axis .line-horizontal,
.frappe-chart .y.axis .line-horizontal,
.frappe-chart .y.axis .line-horizontal text,
.frappe-chart .legend,
.frappe-chart .x.axis .line-vertical,
.frappe-chart .y.axis .line-horizontal {
  display: none;
}

.frappe-chart .x.axis text,
.frappe-chart .y.axis text {
  @include font(14, 700);
}

.frappe-chart .x.axis text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

// ant design override

.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
  box-shadow: none;
}
