.icon {
  &--left {
    margin-right: $ui-default-measure;
  }

  &--right {
    margin-left: $ui-default-measure;
  }

  &--outlined {
    position: relative;
    background-color: $primary;
    border-radius: $ui-default-border-radius--circle;
    width: 20px;
    height: 20px;
    color: $white;

    &:before {
      @include center();
    }
  }
}
.base-box {
  padding: $ui-default-measure2x 30px 30px 30px;
  border-radius: 20px;
  box-shadow: $ui-default-box-shadow--small;
  background: $white;

  &--small {
    padding: 25px;
  }
}

.c-pane-container {
  background-color: transparent !important;
  border: none !important;
  width: 100%;

  * {
    @include font-weight(400);
  }
}

.c-header {
  width: 100%;
  display: flex;
  justify-content: center;

  .c-title-layout {
    max-width: 100px;
  }
}

.c-arrow-layout {
  svg {
    font-size: 1.2rem !important;
    height: 1.2rem !important;
    width: 1.2rem !important;
  }
}

.c-weekday {
  color: $primary;
  @include font(15, 600);
}

.c-day {
  padding: 4px 0;
}
